.hero {
    background-image: url('../images/map2.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
  }
  
  .hero-content {
    max-width: 600px;
    padding: 20px;
  }
  
  .search-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }
  
  .search-bar .MuiTextField-root {
    margin-right: 10px; /* Adjust spacing between TextField and Button */
  }
  
  .search-bar .MuiButton-root {
    height: 40px; /* Adjust button height */
  }
  
  
  .about-us {
    padding: 50px 0;
    background-color: #f9f9f9;
  }
  
  .about-us-content-up {
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
  }
  
  .about-us-content-down {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 50px;
  }
  
  .work,
  .trust {
    flex: 1;
    border-radius: 10px;
    max-width: 35%;
    padding: 2%; 
    text-align: center;
  }
  
  .contact-us {
    padding: 50px 0;
    background-color: white;
  }
  
  .contact-us-content {
    max-width: 600px;
    margin: 0 auto;
  }
  
  .contact-us-content h1 {
    text-align: center;
  }
  
  .contact-us-content form {
    display: flex;
    flex-direction: column;
  }
  
  .contact-us-content form .MuiFormControl-root {
    margin-bottom: 20px;
  }
  
  .contact-us-content form .MuiButton-root {
    margin-top: 20px;
  }
  
  .footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
  }
  